/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
}

*:focus {
	outline: none;
}

body {
	background: rgba(245, 240, 233, 0.58);
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

table {
	/* border-collapse: collapse; не ставиться border-radius,но склеиваются ячецки */
	border-spacing: 2px;
	/* маржин в таблицах */
	border-collapse: separate;
	/* расклеивает ячейки */
}

img {
	border-style: none;
	max-width: 100%;
}

::selection {
	color: #fff;
	/* Цвет текста */
	background: #3399ff;
	/* Цвет фона */
}

::-moz-selection {
	color: #fff;
	/* Цвет текста */
	background: #3399ff;
	/* Цвет фона */
}

form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input,
textarea,
select {
	vertical-align: middle;
	color: #000;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

input::-webkit-input-placeholder {
	color: #ebedec;
}

input:focus::-webkit-input-placeholder {
	color: #ebedec;
}

/*@media*/

/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */

/*@media end*/
/* font-family: 'Lora', serif; */
/* regular 400
regular 400 Italic
bold 700
bold 700 Italic */
/* font-family: 'Montserrat', sans-serif; */
/* regular 400
regular 400 Italic
medium 500
medium 500 Italic
bold 700
bold 700 Italic */
/* wrapper */
#wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.layout {
	margin: 0 auto;
	position: relative;
	width: 1920px;
}

footer {
	display: block;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

main {
	display: block;
	width: 100%;
	position: relative;
}

.slider {
	background: url(../img/back.png)repeat #f8f3f1;
	width: 100%;
	height: 100%;
	/* 703 */
	overflow: hidden;
	position: relative;
}

.slider .center {
	width: 1336px;
	text-align: left;
	margin: 0 auto;
	padding: 73px 0;
	position: relative;
}

.slider ul.slWrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	left: 0px;
	width: 9999px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
	/*  */
}

.slider .center a.left,
.center a.right {
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: 62px;
	height: 62px;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
	border-radius: 50%;
	margin: 0;
	z-index: 55;
}

.slider .center a.left {
	background: url(../img/left.png)no-repeat center;
	left: -162px;
}

.slider .center a.right {
	left: 1214px;
	background: url(../img/right.png)no-repeat center;
}

.slider .center a.left:hover,
.center a.right:hover {
	opacity: .7;
}

.slider ul.slWrap li {
	margin: 0 133px 0 0;
	width: 658px;
	-webkit-transition: width 1s linear;
	transition: width 1s linear;
}

.center h2 {
	color: #b48e77;
	font-family: 'Lora', serif;
	font-size: 72px;
	font-weight: 400;
	letter-spacing: 10px;
	line-height: 53px;
	text-transform: uppercase;
}

.center span {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
	margin-left: -22px;
}

.center_middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 19px 0px 19px 0px;
	background: #fff;
	-webkit-box-shadow: 3px 10px 30px 0px rgba(0, 0, 0, .05);
	box-shadow: 3px 10px 30px 0px rgba(0, 0, 0, .05);
	position: relative;
}

.center_middle .img {
	display: inline-block;
	margin: auto 0px;
	width: 658px;
	position: relative;
	z-index: 2;
}

.center_middle .img img {
	height: 100%;
	width: 100%;
}

.slider .center .slWrap .activeSl .center_middle .text {
	-webkit-transition: left 1s linear;
	transition: left 1s linear;
	left: 658px;
}

.slider .center .slWrap .activeSl {
	-webkit-transition: left 1s linear;
	transition: left 1s linear;
	-webkit-transition: width 1s linear;
	transition: width 1s linear;
	width: 1110px;
}

.center_middle .text {
	text-align: left;
	width: 452px;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 32px 25px 32px 20px;
	position: absolute;
	left: 0;
	-webkit-transition: left 1s linear;
	transition: left 1s linear;
	z-index: 1;
}

.center_middle .text h3 {
	overflow: hidden;
	height: 43px;
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	color: #333;
	letter-spacing: .5px;
	padding: 0 0 0 6px;
}

.center_middle .text p {
	padding: 3px 0 35px 6px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: .5px;
	color: #2d2423;
}

.center_middle .text .direction {
	width: 148px;
	height: 18px;
	position: relative;
}

.center_middle .text .direction a {
	width: 174px;
}

.empty .direction {
	width: 177px;
	height: 18px;
	position: relative;
}

.empty .direction a {
	width: 204px;
}

.empty {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	right: 60px;
	bottom: 78px;
	width: 208px;
}

.direction a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	position: absolute;
	color: #333;
	left: 5px;
	bottom: 0;
	display: block;
	width: 100%;
	z-index: 2;
}

.direction:hover a {
	color: #b48e77;
}

.direction:hover:after,
.empty .direction:after {
	background: f0e8e4;
}

.direction:hover:before,
.empty .direction:hover:before {
	background: url(../img/arrowLinkHover.png)no-repeat center;
}

.direction:focus a {
	color: #b48e77;
}

.direction:focus:after,
.empty .direction:after {
	background: f0e8e4;
}

.direction:focus:before,
.empty .direction:hover:before {
	background: url(../img/arrowLinkHover.png)no-repeat center;
}

.direction:after,
.empty .direction:after {
	content: "";
	width: 100%;
	height: 8px;
	background: #f0e8e4;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.direction::before,
.empty .direction:before {
	content: "";
	background: url(../img/arrowLink.png)no-repeat center;
	display: block;
	width: 22px;
	right: -30px;
	position: absolute;
	bottom: 0;
	top: 0;
}

.center_point {
	text-align: center;
	position: relative;
}

.center_point ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translatex(25px);
	transform: translatex(25px);
	height: 40px;
}

.center_point li {
	border-radius: 50%;
	background: #b48f7a;
	margin: 5px;
	font-size: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
}

.center_point li.active {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 10px;
	letter-spacing: .5px;
	display: inline-block;
	line-height: 34px;
	width: 34px;
	height: 34px;
	border: solid 1px #b48f7a;
	color: #b48f7a;
	background: rgba(255, 255, 255, 0);
	margin: 5px;
}

header {
	width: 100%;
	display: block;
	position: relative;
}

header .logo {
	text-align: center;
	margin: 11px;
}

header .logo h1 a {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding: 11px;
	color: #00774f;
	font-size: 18px;
	height: 40px;
}

header .logo h1 a:hover {
	border-bottom: solid 1px #000;
}

header .logo h1 a:active {
	color: rgba(9, 165, 114, 0.1);
}

header .logo h1 a:focus {
	text-shadow: 5px -5px 2px rgba(9, 165, 114, 0.57);
}

/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {
}

/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin: 0 auto;
		position: relative;
		width: 768px;
	}
}

/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width: 1919px) {
	.layout {
		width: 100%;
		padding: 0;
	}

	.center_middle .img {
		display: inline-block;
		margin: auto 0px;
		width: 300px;
		position: relative;
		z-index: 2;
	}

	.slider .center a.left,
	.center a.right {
		display: none;
	}

	.slider .center {
		width: 300px;
		text-align: center;
		padding: 20px 0px 60px;
	}

	.center h2 {
		font-size: 30px;
		font-weight: 700;
		padding: 0 40px;
		line-height: 32px;
		letter-spacing: 1px;
	}

	.center span {
		letter-spacing: 1px;
		font-size: 16px;
		font-weight: 500;
		margin: 0;
	}

	.center_middle {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 300px;
		margin: 10px 0px 19px 0px;
	}

	.center_middle .text {
		position: relative;
		text-align: left;
		padding: 20px 12px 19px 6px;
	}

	.center_middle .text p {
		padding: 11px 0 20px 6px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: .1px;
	}

	.center_middle .text h3 {
		height: 15px;
		font-size: 17px;
		letter-spacing: .5px;
	}

	.center_point li {
		width: 6px;
		height: 6px;
	}

	.direction a {
		font-size: 16px;
		letter-spacing: 1px;
		position: absolute;
		color: #333;
		left: 0px;
		bottom: 0;
		display: block;
		width: 100%;
		z-index: 2;
	}
	.center_middle .text .direction a {
		padding-left: 6px;
		width: 174px;
	}
	.empty {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		position: absolute;
		right: 50%;
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		bottom: 26px;
		width: 184px;
	}

	.center_middle .text .direction {
		width: 130px;
		height: 18px;
		position: relative;
		margin-left: 6px;
	}

	.empty .direction {
		width: 144px;
		height: 18px;
		position: relative;
	}

	.center_point li.active {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 8px;
		letter-spacing: .5px;
		display: inline-block;
		line-height: 24px;
		width: 24px;
		height: 24px;
		border: solid 1px #b48f7a;
		color: #b48f7a;
		background: rgba(255, 255, 255, 0);
		margin: 5px;
	}

	.center_point ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		height: 24px;
	}

	.slider .center .slWrap .activeSl {
		width: 300px;
	}

	.slider ul.slWrap li {
		width: 300px;
	}

	.slider .center .slWrap .activeSl .center_middle .text {
		left: 0;
	}
}
